<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark d-flex justify-content-between">
    <div class="d-flex">
      <h3 class="align-self-center" style="color: whitesmoke">DocHealth</h3>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home">Home </a>
        </li>
      </ul>
    </div>
    <div>
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
      <div class="">
        <ul class="navbar-nav ml-auto d-flex gap-2" *ngIf="isLoggedIn">
          <li class="nav-item ">
            <a class="nav-link" [routerLink]="['profile','info']">My profile</a>
          </li>
          <li class="nav-item ">
            <a href class="nav-link" (click)="logOut()">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>
